# Database Connection URL (SQLite)
DATABASE_URL="file:./dev.db"

# LLM Providers configuration
# Get your OpenAI API Key from https://platform.openai.com/
OPENAI_API_KEY="your-openai-api-key"

# If running local Ollama model, set the host base URL
OLLAMA_BASE_URL="http://localhost:11434"
